/* Colors */
$grey: #9c9da0;
$white: #ffffff;
$black: #000000;
$green: #097d0e;

$links: #e7f7e8;

/* Border Radius */
$border-radius: 0.25em;
$spacing: 0.25em;
$line-heigth: 1em;

/* Transition */
$transition: 0.3 all ease;

/* Padding margin */
$small: 0.25em;
$normal: 1em;
$big: 2em;

/* Width Heigth */
$full: 100%;
$max-card-width: 26rem;

/* Font */
$font-small: 0.5rem;
$font-normal: 1rem;
$font-xmedium: 1.125rem;
$font-medium: 1.5rem;
$font-big: 2rem;
