@import 'variables';
@import 'mixins';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-size: 18px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // color: rgb(var(--foreground-rgb));
}

a {
  text-decoration: none;
  color: $white;
  transition: 0.3s all ease;

  &:hover {
    padding: $small;
    color: $black;
    background-color: $white;
  }
}

img {
  pointer-events: none;
}

li {
  list-style: none;
}

body,
html {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

h1 {
  color: $green;
}

p {
  color: $grey;
}

main {
  display: flex;
  flex-direction: column;
  padding: $big;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
  }
}

.remark-highlight {
  background-color: black;
}
