@import 'mixins';
@import 'variables';

.span-style {
  letter-spacing: $spacing;
}

.container {
  display: flex;
  width: $full;
  justify-content: center;
  column-gap: $big;
  padding-top: $big;
  flex-direction: row;
}

.text-container {
  text-align: left;
  width: 32rem;

  p {
    text-align: left;
    width: fit-content;
  }

  @include phone {
    margin: 0 auto;
    width: 80%;
  }
}

.heading {
  font-size: $font-big;
  padding-bottom: $big;
  text-align: center;

  @include phone {
    margin: 0;
    padding-bottom: $big;
  }
}

.image {
  @include phone {
    display: none;
  }
}
