@import 'mixins';
@import 'variables';

.navlinks {
  display: flex;
  justify-content: flex-end;
  line-height: $line-heigth;
  flex-direction: row;
  align-items: center;
  column-gap: $normal;

  li {
    text-transform: capitalize;
    font-size: $font-xmedium;
  }

  > svg {
    font-size: $font-big;
  }
  div {
    &:first-child {
      display: flex;
      column-gap: $normal;
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    margin-left: $normal;
  }
}

.navmenu {
  display: none;
}

.rel {
  display: flex;
  flex-direction: column;
  row-gap: $small;
  padding: 1em;

  li {
    font-size: $font-medium;
  }
  @include phone {
    display: none;
  }
}

.dimmed {
  color: grey !important;

  &:hover {
    color: white !important;
  }
}

.disabled {
  &:hover {
    padding: 0;
    background-color: black;
  }
}

.flex {
  display: flex;
  align-items: center;

  @include phone {
    padding-right: 1em;
  }
}
