@import 'mixins';
@import 'variables';

.projects {
  h1 {
    padding-bottom: $normal / 2;
  }
}

.project-container {
  display: grid;
  gap: $normal;
  align-items: center;

  @include rev-phone {
    grid-template-columns: repeat(2, 1fr);
  }

  @include rev-tablet {
    grid-template-columns: repeat(3, 1fr);
  }
}

.vertical {
  padding: $normal 0;
}
